{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'palinodes/index.css' %}>
    <title>{%block title %}index{% endblock title %}</title>
    {% block script %}
    {% endblock %}
</head>
<body>
    <nav id="top-navbar">
        <ul>
            <li><a href={% url 'logout' %}>Logout</a></li>
        </ul>
    </nav>
    <div id="body-block">
        {% block body %}{% endblock body %}
    </div>
</body>
</html>