#settings-container{
    padding-top: 20px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto 1fr;

    background-color: #101010;
}

#back {
    grid-area: 1 / 1 / span 1 / span 1;
    margin: 10px;
}

    #back-link {
        padding: 5px 10px;
    }

#settings-form-container {
    grid-area: 2 / 2 / span 1 / span 1;

    display: grid;
    grid-template-rows: 1fr 4fr 4fr 2fr;

}
    h3 {
        padding: 10px;
        grid-row: 1 / span 1;
        border-bottom: solid #ffffff88;
        border-width: 1px;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    #details-form {
        grid-row: 2 / span 1;
    }

        #details-form div {
            display: flex;
            align-items: center;
        }


            #id_description {
                font-size: medium;
                height: 100px;
                background-color: #101010;

            }

            #id_name {
                font-size: medium;
                height: 17px;
                background-color: #101010;
            }

            #form-btns-container {
                margin-top: 10px;
                display: flex;
            }

                #delete-repository {
                    margin: 0px 20px;
                    height: fit-content;
                    width: 80px;
                    background-color: red;
                }

        input[type="submit"] {
            margin: 0px 20px;
            width: 80px;
        }

    #collaborators-form {
        grid-row: 3 / span 1;
        border: solid #ffffff88;
        border-radius: 10px;
        border-width: 1px;
        height: fit-content;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #search-form-modal {
        display: none;  /*Hidden by default */
        position: fixed;
        z-index: 1;
        width:100vw;
        height: 100vh;
        background-color: #0000009f;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 4fr 2fr;
    }

        #search-form-container {
            grid-area: 2 / 2 / span 1 / span 1;
            margin: 0;
            background-color: #1f1f1f;
            padding: 20px;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #search-form {
            display: flex;
            flex-direction: column;
        }
        #input-search {
            padding: 0px 10px;
            height: 40px;
            width:400px;
            background-color: black;
            color: white;
            font-size: larger;
        }   

    label {
        align-self: center;
        margin: 10px 0px;
    }

    #add-collaborator-btn {
        align-self: center;
        padding: 10px;
        background-color: green;
        margin-bottom: 10px;
    }
    #add-collaborator-btn:hover {
        background-color: #00bb00;
    }

    .collaborators-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height:fit-content;
        overflow-y: scroll;
    }

    #current-collaborators-list {
        align-self: stretch;

        justify-content: space-around;
        flex-wrap: wrap;
    }
    .current-collaborator-container{    
        margin-bottom: 20px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-basis: 400px;
    }

    .toggle-collaborator {
        margin: 0px 0px 0px auto;
    }
    .remove-collaborator {
        background-color: #101010;
    }   

