#body-block {
    grid-template-rows: auto auto ;
}

#profile-banner {
    grid-row: 1 / span 1;
    margin:0;
    padding: 10px 10px 10px 10px;

}

    .profile {
        font-size: smaller;
    }

        .profile h1 {
            margin-right: 10px;
        }

        .profile button {
            font-size: x-small;
            background-color: #1d1d1d;
        }

        input[type="file"]{
            max-width: 200px;
        }


    #avatar {
        width: 66px;
        height: 66px;
        margin-right: 20px;
    }

    .avatar-sm {
        margin-right: 10px;
    }

#repositories-list {
    grid-row: 2 / span 1;
    align-items: center;
}

    #repositories-list ul {
        width: 90%;
    }

        #repositories-list ul li {
            width: 100px;
            font-size: smaller;
        }

    #repositories-container {
        flex-direction: column;
        align-items: center;
    }

    .repositories-li {
        flex-basis: 120px;
        width: 280px;
        flex-grow: 1;
    }
    #id_name, #id_description, #id_collaborators, #id_owner {
        margin: 10px;
        border: solid;
        border-color: #88959c88;
        border-width: 1px;
        border-radius: 7px;
        padding: 8px;
        background-color: #323338;
        color: white;
        font-size: large;
        width: 300px;
    }

/* REPOSITORY VIEW */
#repository-container {
    grid-row: 1 / span 2;
    grid-template-rows: auto auto auto auto;
}

    #repository-details {
        grid-row: 1 / span 1;
    }

    #repository-contents {
        grid-row: 2 / span 1;
        overflow-x: hidden;
    }

        
            #new-directory-form {
                margin-left: 0;
                display: flex;
            }

                #new-directory-form input[type="submit"] {
                    background-color: transparent;
                }

    .file-entries p {
        margin:0;
        padding:10px;
        padding-left: 20px;
        flex-grow: 1;
    }

    #soundwave {
        grid-row: 3 / span 1;
    }


    #chat-container {
        grid-row: 4 / span 1;
        padding: 10px 20px;
        padding-bottom: 30px;
        font-size: smaller;
    }

            #chat-container form {
                margin-top: 10px;
            }

/* SETTINGS */
#settings-container{
    padding-top: 20px;
    grid-row: 1 / span 2;
    
    background-color: #101010;
}

    #back {
        grid-row: 1 / span 1;
        margin: 10px;
    }
    
        #back-link {
            padding: 5px 10px;
        }
    
#settings-form-container {
    grid-row: 2 / span 1;
    width: 300px;
    padding-left: 10px;
}

    #details-form {
        width: 300px;
    }

#collaborators-form {
    max-height: 300px;
    margin-bottom: 50px;
}


    #search-form-container {
        grid-row: 2 / span 1;
        max-height: 300px;
    }

    #input-search {
        width:200px;
        margin-bottom: 10px;
    }   