
#body-block {
    grid-template-columns: 2fr 4fr auto;
}

    #profile-banner {
        grid-column: 1 / span 1;

        margin-left: 0px;
        margin-top: 0px;
        padding-left: 20px;

        flex-direction: column;
    }

            input[type="file"]{
                font-size: large;
            }

            


        #avatar {
            width: 300px;
            height: 300px;
        }

        .avatar-sm {
            margin-right: 40px;
        }


    #repositories-list {
        grid-column: 2 / span 1;
        padding-right: 20px;
    }

            #repositories-list ul li {
                width: 150px;
            }

    #repositories-container {
        margin: 20px auto auto 20px;
        align-self: center;
        justify-content: baseline;
        flex-wrap: wrap;
        align-content: stretch;
    }

        .repositories-li {
            flex-basis: 400px;
            display: flex;
            overflow: hidden;
        }

            .repositories-li * {
                margin: 4px;
            }

            .repository-link {
                width: 100%;
            }

    #id_name, #id_description, #id_collaborators, #id_owner {
        margin: 10px;
        border: solid;
        border-color: #88959c88;
        border-width: 1px;
        border-radius: 7px;
        padding: 8px;
        background-color: #323338;
        color: white;
        font-size: large;
        width: 300px;
    }

    #id_description {
        max-height: 50px;
    }

    #id_collaborators {
        max-height: 40px;
    }

    #delete-repository {
        background-color: red;
    }

/* REPOSITORY VIEW */
#repository-container {
    grid-column: 1 / span 3;
    grid-template-rows: 30vh 65vh;
    grid-template-columns: 3fr 5fr;
}
    #repository-details {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    #repository-contents {
        grid-area: 2 / 1 / span 1 / span 1;
    }
 
        #new-directory-form {
            margin-left: 300px;
        }

        .file-entries p {
            flex-grow: 1;
        }


    #soundwave {
        grid-area: 1 / 2 / span 1 / span 1;
    }

    #chat-container {
        grid-area: 2 / 2 / span 1 / span 1;
        padding: 10px 100px 10px 100px;
    }

        #chat-container form {
            margin-top: 20px;
        }
            

/* SETTINGS */

#settings-container{
    padding-top: 20px;
    grid-column: 1 / span 3;
    
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto 1fr;

    background-color: #101010;
}

    #back {
        grid-area: 1 / 1 / span 1 / span 1;
        margin: 10px;
    }
    
        #back-link {
            padding: 5px 10px;
        }

#search-form-modal {
    grid-template-columns: 1fr 2fr 1fr;
}

    #search-form-container {
        grid-area: 2 / 2 / span 1 / span 1;
        max-height: 500px;
    }

    #input-search {
        width:400px;
    }   